<a href="https://colab.research.google.com/github/hagisileo/PyTorch/blob/master/07_%EC%9E%90%EB%A3%8C%ED%98%95(%ED%8A%9C%ED%94%8C)_%ED%95%99%EC%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  튜플(Tuple)



```
튜플(tuple)은 리스트와 거의 비슷하며 다른 점은 다음과 같다.
리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.
즉, **튜플의 요소값은 한 번 정하면 지우거나 변경할 수 없다.**
```

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

##  튜플 요소값을 삭제하려 할 때

In [1]:
t1 = (1, 2, 'a', 'b')
del t1 [0] #TypeError: 'tuple' object doesn't support item deletion

TypeError: ignored

##  튜플 요소값을 변경하려 할 때

In [ ]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c' #TypeError: 'tuple' object does not support item assignment

TypeError: ignored

##  튜플 인덱싱

In [ ]:

print(t1[0])
print(t1[3])

1
b

## 튜플 슬라이싱

In [ ]:
t1
t1[2:]

('a', 'b')

## 튜플 더하기

In [ ]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

t1 + t2

(1, 2, 'a', 'b', 3, 4)

## 튜플 곱하기(반복하기)

In [ ]:
t2 = (3, 4)

t2*3

(3, 4, 3, 4, 3, 4)

##  튜플 길이 구하기

In [ ]:
len(t1)

4