<a href="https://colab.research.google.com/github/hagisileo/PyTorch/blob/master/10_%EB%B0%98%EB%B3%B5%EA%B5%AC%EB%AC%B8(For)_%ED%95%99%EC%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

## For 반복문
- for 문 - 정해진 횟수만큼 반복하는 구조

In [ ]:
[1,2,3,4,5,6]
list(range(1, 100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
[1,2,3,4,5,6]

for i in [1,2,3,4,5]:
    print('*', i)

* 1
* 2
* 3
* 4
* 5

In [ ]:
# for i in [1,2,3,4,5,6,7,8,9,10]:
for i in range(1,20,2): # [0,1,2,3,4,5,6,7,8,9]
    print('========',i)

======== 1
======== 3
======== 5
======== 7
======== 9
======== 11
======== 13
======== 15
======== 17
======== 19

###[문제] 
 90,100,85,70 4과목의 점수를 출력하고, 합계를 출력합니다.

In [ ]:
s=[90,100,85,70]
합 = 0

for 점수 in s:
    print(점수)
    합 = 합 + 점수
print(합)

90
100
85
70
345

In [ ]:
s=[90,100,85,70]
합 = 0

for 점수 in s:
    print(점수)
    합 = 합 + 점수
    print(합)

90
90
100
190
85
275
70
345

###[문제] 
  1에서 100까지 출력하고 합계를 구해봅니다.

In [ ]:
hap = 0
for i in range(1,101):
    print(i)
    hap += i # hap = hap + i
print(hap)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

##  for 반복문 - 리스트

enumerate 함수
- 리스트가 있는 경우 순서와 리스트의 값을 전달하는 기능
- enumerate는 “열거하다”라는 뜻
- 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴
-  enumerate 함수는 for문과 함께 자주 사용

In [ ]:
# 리스트의 값을 출력 For 반복문
color =['red', 'blue', 'green', 'white', 'orange', 'purple']
for c in color:
    print(c)

red
blue
green
white
orange
purple

In [ ]:
for i, val in enumerate(color):
    print(i, val)

0 red
1 blue
2 green
3 white
4 orange
5 purple

딕셔너리

In [ ]:
dic = {
'name':'정지현',
'phone':'010-1234-5678', 
'생일':'0821'
}

In [ ]:
dic['name']

'정지현'

##  for 반복문 - 딕셔너리

In [ ]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}
# 딕셔너리에 저장된 모든 학생의 이름 출력하기
for k in midterm.keys():
    print(k)

도윤
하윤
시우
지유
주원

In [ ]:
# 딕셔너리에 저장된 모든 점수 출력하기
for v in midterm.values():
    print(v)

43
82
76
61
94

In [ ]:
# 딕셔너리에 저장된 모든 학생과 점수를 같이 출력하기
for i in midterm.items():
    print(i)

('도윤', 43)
('하윤', 82)
('시우', 76)
('지유', 61)
('주원', 94)

In [ ]:
# 딕션너리의 항목을 출력
for k,val in midterm.items():
    print('이름:',k, ',점수:', val )

이름: 도윤 ,점수: 43
이름: 하윤 ,점수: 82
이름: 시우 ,점수: 76
이름: 지유 ,점수: 61
이름: 주원 ,점수: 94

# while 반복문
- while 문 - 어떤 조건이 만족(True)되는 동안, 반복을 계속하는 구조

In [ ]:
i = 1 

while i <= 5:
    print(i)
    i += 1

print('종료')

1
2
3
4
5
종료

## break

In [ ]:
# 무한 반복합니다.
i= 0
while True:
    print('python',i)
    if i >= 10:
        break
    i=i+1

python 0
python 1
python 2
python 3
python 4
python 5
python 6
python 7
python 8
python 9
python 10

## continue

In [ ]:
# 리스트 선언
array = list(range(1,11))

# 반복문을 실행합니다.
for number in array:

    # number가 짝수이면 다음 반복으로 넘어갑니다.
    if number % 2 == 0:
        continue
        
    # 출력합니다.
    print("홀수:", number)

홀수: 1
홀수: 3
홀수: 5
홀수: 7
홀수: 9